.App {
  text-align: center;
  font-size: 10px;
}

input[type="text"],
[type="email"],
[type="date"],
[type="password"] {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;
}

progress {
  height: 18px;
}

span {
  font-size: 15px;
  color: white;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 100%;
  margin: 30px auto;
}

h2 {
  font-size: 20px;
  color: white;
}

.container {
  position: relative;
  max-width: 405px;
  min-height: 800px;
  max-height: 550px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background-color: #27bcc4;
  margin: 0 auto;
  box-shadow: 1px 3px 0px #cbced1, 2px -4px 7px white;
}

input[type="submit"] {
  background-color: #3dbcee;
  margin: 20px 0;
  width: 7.2rem;
  border-radius: 5px;
  height: 33px;
  color: white;
}

label {
  font-size: 15px;
  color: white;
}

input[type="submit"]:hover {
  background-color: rgb(0, 89, 255);
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 400px;
    min-height: 742px;
  }
  form {
    padding: 0;
    width: 100%;
  }
}
